body {
    background: darkslategray;
}

/* -------INDEX------- */
label.nickname {
    color: aliceblue;
    margin: 0 auto;

}

.headers {
    color: aliceblue;
    text-align: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.loginPage {
    justify-content: center;
    height: 40vh;
}

.joinButton {
    width: 100px;
    margin: 10px auto;
    border-radius: 15px;
}

/* -------LOBBY------- */
h2.headers {
    font-size: 3em;
}

.self {
    color: yellow !important;
}

.unready {
    background: red;
}

.ready {
    background: green;
}

.playerDiv {
    border: 2px solid white;
    color: aliceblue;
    border-radius: 20px;
    padding: 15px;
    font-size: 2em;
    margin: 0 20px;
    min-width: 100px;
}

.flex-row {
    display: flex;
    justify-content: space-around;
}

.readyButton {
    font-size: 2em;
    padding: 15px;
    background: green;
    color: aliceblue;
    border-radius: 15px;
    width: 100%;
    cursor: pointer;
}

.center {
    margin: 30px auto;
    width: 200px;
}

.readyButton:hover {
    background: darkgreen;
}

/* -------GAME------- */
.flex-end {
    display: flex;
    justify-content: space-between;
}

#playerCard {
    margin: 10px;
    width: 150px;
    height: 150px;
    background-image: url("./turtles.gif");
    background-position: -300px -1150px;
}